.App {
  text-align: center;
}

.App-logo {
  height: 75vmin;
  pointer-events: none;
}


.App-header {
  background-color: #1e3e7c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 5, 213);
}
