* {
    margin: 0;
}

body {
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "header  header""main  entry";
}

.header {
    position: relative;
    grid-area: header;
}

.headerImg {
    width: auto;
    min-height: 229px;
    overflow: hidden;
}

.header .container {
    position: absolute;
    top: 195px;
    background: rgba(255, 255, 255, 0.753);
}

.header .container p {
    max-width: 85%;
}

.header .container a {
    display: block;
    background-color: #8a0e10;
    width: 80px;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
}

.header span {
    display: block;
    height: 15px;
    max-width: 1180px;
    background: black;
}

.main {
    grid-area: main;
}

.entry {
    background-color: #e9decc;
    grid-area: entry;
    display: flex;
    justify-content: space-between;
}

h3 {
    color: #8b0d0e;
    margin-top: 20px;
}

.article {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
}

.articleNav {
    background-color: #8b0d0e;
    width: 95%;
    margin-top: 20px;
}

.articleNav a {
    text-decoration: none;
    color: white;
    line-height: 26px;
    text-align: center;
    margin-left: 30px;
}

form {
    margin: 20px;
}

form input {
    display: block;
}

.entry button {
    background-color: #8b0d0e;
    color: white;
    border: 0;
    height: 24px;
}

.entry div {
    margin-top: 80px;
}

.entry a {
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    color: #8b0d0e;
}

nav h3 {
    margin: 20px 0 5px 20px;
}

@media (max-width: 768px) {
    body {
        display: grid;
        grid-template-areas: "header""main""entry";
    }

    .article p {
        display: none;
    }

    .article {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .article img {
        margin: 0 auto;
        min-height: 174px;
    }

    .content {
        text-align: center;
    }

    .header .container p {
        display: none;
    }

    .articleNav {
        width: 100%;
    }

    .entry {
        display: flex;
        justify-content: space-evenly;
    }
}