* {
    margin: 0;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    max-width: 930px;
}

.logo {
    display: flex;

}

.logo>h1 {
    color: #93d245;
    font-size: 70px;
    text-transform: uppercase;
    margin-right: 3px;
}

.logo>p {
    color: #cdcdcd;
    font-size: 30px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.nav>a {
    display: block;
    margin-left: 1px;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color: #95d14b;
    height: 30px;
    line-height: 30px;
    letter-spacing: 2px;
}

.article {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.text>h5 {
    color: #9b9b9b;
    font-size: 40px;
    margin-bottom: 20px;
}

.text>p {
    color: #888888;
    font-size: 15px;
}

.img>img {
    display: block;
}

.img>p {
    background-color: #95d14b;
    line-height: 26px;
    font-size: 20px;
    color: white;
    padding-left: 15px;
}

.news {
    font-size: 30px;
    color: #9b9b9b;
    margin: 20px 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.content p {
    font-size: 16px;
    color: #9b9b9b;
    margin-top: 10px;
}

.content p:first-of-type {
    color: #888888;
    font-size: 20px;
}