/* Создайте на странице 10 параграфов зеленого цвета, размером 100рх х 100рх. Задайте им зелёный цвет и расположите горизонтально друг за другом. */

.container p:nth-last-of-type(1n) {
    background: green;
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
}

