.footer {
    height: $size * 5;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        font-size: $size*1.5;
        padding: 0 $size*2;
        color: white;
    }
}