* {
    margin: 0;
}

body {
    width: 1100px;
    margin: 0 auto;
    background-color: rgb(253, 246, 236);
}

.map {
    margin-top: 20px;
    position: relative;
}

.map img {
    position: absolute;
}

.berlin,
.paris,
.london,
.roma {
    width: 10px;
    height: 10px;
    background-color: crimson;
    border-radius: 50%;
    animation: animation 1s infinite;
}

.berlin {
    position: absolute;
    top: 238px;
    left: 616px;
}

.paris {
    position: absolute;
    top: 356px;
    left: 387px;
}

.london {
    position: absolute;
    top: 272px;
    left: 336px;
}

.roma {
    position: absolute;
    top: 560px;
    left: 597px;
}

@keyframes animation {

    from,
    to {
        width: 10px;
        height: 10px;
    }

    20% {
        width: 11px;
        height: 11px;
    }

    30% {
        width: 12px;
        height: 12px;
    }

    40% {
        width: 13px;
        height: 13px;
    }

    50% {
        width: 14px;
        height: 14px;
    }

    60% {
        width: 13px;
        height: 13px;
    }

    70% {
        width: 12px;
        height: 12px;
    }

    80% {
        width: 11px;
        height: 11px;
    }
}

.berlin:hover,
.london:hover,
.paris:hover,
.roma:hover {
    animation-play-state: paused;
}

.berlinTickets {
    text-decoration: none;
    text-align: center;
    color: black;
    margin: 15px 0 0 -30px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(243, 239, 237, 0.452);
    position: absolute;
    visibility: hidden;
    transition-duration: 1s;
}

.berlin:hover>.berlinTickets,
.london:hover>.berlinTickets,
.paris:hover>.berlinTickets,
.roma:hover>.berlinTickets {
    visibility: visible;
}