.form {
    width: max-content;
    margin: 0 auto;
    border: 2px solid dodgerblue;
    display: flex;
    flex-direction: column;
    padding: 10px;

    input {
        min-width: 300px;
        margin-bottom: 5px;

        &:invalid {
            border: 2px solid red;
        }
        &:valid {
            border: 1px solid black;
        }

    }
}

